# Baked Data
*.shambient
*.lightprobe
*.subsurface

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
#*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
#*.exe
*.out
*.app

# Visual Studio compiled files
#*.exe
#*.pdb
*.sdf
*.suo
*.opensdf
*.user
*.filters
#*.vcxproj

# GLSLANG libs because github has a 100mb file limit
**/glslang/lib

# Visual Studio temporary directories
**/Builds
**/Debug
**/Release
**/x64
**/ipch
**/.vs
